<% layout('layouts/boilerplate') %>
<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
          <div class="card shadow bg-transparent">
              <img src="https://media.istockphoto.com/id/508628776/photo/sunset-over-kandariya-mahadeva-temple.jpg?s=612x612&w=0&k=20&c=YOpVZmLiY4ccl_aoWRJhfqLpNEDgjyOGuTAKbobCO-U="
              alt="" class="card-img-top"/>
              <div class="card-body">
                  <h5 class="card-title text-center mb-4">Login</h5>
                  <form action="/login" method="post" class="validated-form" novalidate>
                      <div class="mb-3">
                          <label class="form-label" for="username">Username</label>
                          <input class="form-control" type="text" id="username" name="username" autofocus required>
                          <div class="invalid-feedback">
                              Please provide a valid username
                          </div>
                      </div>

                      <div class="mb-3">
                          <label class="form-label" for="password">Password</label>
                          <input class="form-control" type="password" id="password" name="password" required>
                          <div class="invalid-feedback">
                              Please provide a valid password
                          </div>
                      </div>

                      <button class="btn btn-success" style="display: block; width: 100%;">Login</button>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
